@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.App {
  text-align: left;
}
.Banner {
  padding: 80px 0px 40px 0px;
  background-color: #be74d1;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.Name {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  margin-left: 80px;
  color: rgb(255, 255, 255);
}
.NameSubtitle {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  text-align: left;
  margin-left: 83px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.SocialIcons {
  color: rgb(255, 255, 255);
  font-size: 30px;
  display: flex;
  margin-left: 83px;
  gap: 24px;
}
.github-icon, .linkedin-icon {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}
.github-icon:hover, .linkedin-icon:hover{
  color: rgb(192, 192, 192);
  background-color: inherit;
  border-color: inherit;
}
.github-icon.project {
  color: rgb(255, 255, 255);
  font-size: 30px;
  position: absolute;
  top: 0.25em;
  right: 0.5em;
}
.navbar-nav {
  padding-left: 5em;
}
.text {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.page-description {
  max-width: 800px;
  padding-left: 5em;
  padding-top: 1em;
}
.project-card-container {
  position: relative;
}
.project-card {
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  border-color: gray;

  background-color: whitesmoke;
  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  max-width: 350px;

  & img {
    max-width: 350px;
    flex-shrink: 3;
    width: 100%;
    object-fit: contain;
    align-self: flex-start;
  }

  & .project-description {
    padding: 1em;
  }

  & .tags {
    padding: 1em;
    width: 100%;
    align-self: flex-end;
    background-color:#ededed;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
  }
}
.project-cards-container {
  padding-left: 5em;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2em;
}